body{
  background-color: #573FB1; 
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
canvas{
    margin-left: 25rem;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2B9E96;
    color: white;
    text-align: center;
}
.header {
    overflow: hidden;
    background-color: #2B9E96;
    text-align: center;
}
.btnReset{
    background-color: red;
}
.btnShow{
    position:absolute;

}
.instructions{
    width: 300px;
    height: 30rem;
    overflow-y: hidden;
    display: none;
    position:absolute;
    top:10rem;
    left:0;
}
.hideText{
    animation: showText 0.5s ease-in 1;
    animation-direction: reverse;
}
h2{
    font: oblique bold 120% cursive;
    font-size: 2rem;
    line-height: 2rem;
}
.show {
    display: block;
    animation: showText 1s ease-in 1;

}

@keyframes showText {
    0%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(0px);
    }
}
